In [127]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import plotly.express as px
import datetime
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")
from Clean import chennai_house_df
import sklearn

In [128]:
df = chennai_house_df.copy()

In [129]:
ml_df = pd.DataFrame()

## AREA Column Encoding uning Target Encoding

In [130]:
AREA_Target = df.groupby('AREA')['SALES_PRICE'].mean().sort_values().reset_index()
AREA_Target.index = AREA_Target.index+1
AREA_Target

         AREA   SALES_PRICE
1  Karapakkam  7.340100e+06
2      Adayar  9.185668e+06
3    Chrompet  1.001515e+07
4   Velachery  1.104735e+07
5    KK Nagar  1.269623e+07
6  Anna Nagar  1.517704e+07
7     T Nagar  1.561674e+07

In [131]:
ml_df['AREA'] = df.AREA.map(dict(zip(AREA_Target.AREA,AREA_Target.index))).reset_index(drop = True)
ml_df

      AREA
0        1
1        6
2        2
3        4
4        1
...    ...
7098     1
7099     4
7100     4
7101     1
7102     4

[7103 rows x 1 columns]

## INT_SQFT Column

In [132]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
sq = pd.DataFrame(scaler.fit_transform(df[['INT_SQFT']]),columns=['INT_SQFT']).reset_index(drop = True)
sq

      INT_SQFT
0    -0.826573
1     1.320099
2    -1.034245
3     1.033731
4    -0.341276
...        ...
7098 -1.714097
7099  1.125543
7100  0.506900
7101 -1.300939
7102  1.123357

[7103 rows x 1 columns]

## BUILDING_AGE Column

In [133]:
# Already imported StansardScaler
age = pd.DataFrame(scaler.fit_transform(df[['BUILDING_AGE']]),columns=['BUILDING_AGE']).reset_index(drop = True)
age

      BUILDING_AGE
0         1.599627
1        -1.076033
2        -0.346308
3        -0.184146
4         0.464498
...            ...
7098      2.005030
7099     -1.238194
7100      0.302337
7101      0.626660
7102      1.599627

[7103 rows x 1 columns]

## DIST_MAINROAD column

In [134]:
Dist = pd.DataFrame(scaler.fit_transform(df[['DIST_MAINROAD']]),columns=['DIST_MAINROAD']).reset_index(drop = True)
Dist

      DIST_MAINROAD
0          0.547457
1         -1.281965
2         -0.515350
3         -1.491042
4         -0.271427
...             ...
7098      -0.846389
7099      -0.828965
7100       0.913341
7101      -1.038042
7102       0.983033

[7103 rows x 1 columns]

## N_BEDROOM column

In [135]:
bed = pd.DataFrame(scaler.fit_transform(df[['N_BEDROOM']]),columns=['N_BEDROOM']).reset_index(drop = True)
bed

      N_BEDROOM
0     -0.793720
1      0.451651
2     -0.793720
3      1.697022
4     -0.793720
...         ...
7098  -0.793720
7099   1.697022
7100   0.451651
7101  -0.793720
7102   1.697022

[7103 rows x 1 columns]

## N_BATHROOM

In [136]:
bath = pd.DataFrame(scaler.fit_transform(df[['N_BATHROOM']]),columns=['N_BATHROOM']).reset_index(drop = True)
bath

      N_BATHROOM
0      -0.520689
1      -0.520689
2      -0.520689
3       1.920533
4      -0.520689
...          ...
7098   -0.520689
7099    1.920533
7100   -0.520689
7101   -0.520689
7102    1.920533

[7103 rows x 1 columns]

## N_ROOM

In [137]:
rooms = pd.DataFrame(scaler.fit_transform(df[['N_ROOM']]),columns=['N_ROOM']).reset_index(drop = True)
rooms

        N_ROOM
0    -0.675731
1     1.286540
2    -0.675731
3     1.286540
4    -0.675731
...        ...
7098 -1.656866
7099  1.286540
7100  0.305405
7101 -1.656866
7102  1.286540

[7103 rows x 1 columns]

## PARK_FACIL

In [138]:
# Categorical columns OneHotEncoder

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore',sparse_output=False).set_output(transform='pandas')

In [139]:
park= ohe.fit_transform(df[['PARK_FACIL']]).reset_index(drop = True)
park

      PARK_FACIL_No  PARK_FACIL_Yes
0               0.0             1.0
1               1.0             0.0
2               0.0             1.0
3               1.0             0.0
4               0.0             1.0
...             ...             ...
7098            1.0             0.0
7099            0.0             1.0
7100            1.0             0.0
7101            0.0             1.0
7102            0.0             1.0

[7103 rows x 2 columns]

## UTILITY_AVAIL

In [140]:
df.UTILITY_AVAIL.value_counts()

UTILITY_AVAIL
AllPub     1886
NoSeWa     1870
NoSewr     1826
ELO        1521
Name: count, dtype: int64

In [141]:
# already imported onehot encoder
utility = ohe.fit_transform(df[['UTILITY_AVAIL']]).reset_index(drop=True)
utility

,UTILITY_AVAIL_AllPub,UTILITY_AVAIL_ELO,UTILITY_AVAIL_NoSeWa,UTILITY_AVAIL_NoSewr
0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0
...,...,...,...,...
7098,0.0,1.0,0.0,0.0
7099,0.0,0.0,1.0,0.0
7100,0.0,0.0,1.0,0.0
7101,0.0,1.0,0.0,0.0
7102,0.0,1.0,0.0,0.0

## STREET

In [142]:
street = ohe.fit_transform(df[['STREET']]).reset_index(drop=True)
street

      STREET_Gravel  STREET_No Access  STREET_Paved
0               0.0               0.0           1.0
1               1.0               0.0           0.0
2               1.0               0.0           0.0
3               0.0               0.0           1.0
4               1.0               0.0           0.0
...             ...               ...           ...
7098            0.0               1.0           0.0
7099            0.0               1.0           0.0
7100            1.0               0.0           0.0
7101            0.0               0.0           1.0
7102            0.0               0.0           1.0

[7103 rows x 3 columns]

## MZZONE

In [143]:
df.MZZONE.value_counts().index

Index(['RL', 'RH', 'RM', 'C', 'A', 'I'], dtype='object', name='MZZONE')

In [144]:
MZ =df.groupby('MZZONE')['SALES_PRICE'].mean().sort_values().reset_index()
MZ.index = MZ.index+1
MZ

  MZZONE   SALES_PRICE
1      A  7.292591e+06
2      C  8.052270e+06
3      I  8.738633e+06
4     RH  1.103997e+07
5     RL  1.176709e+07
6     RM  1.240947e+07

In [145]:
MZ = pd.DataFrame(df.MZZONE.map(dict(zip(MZ.MZZONE,MZ.index))).reset_index(drop=True),columns=(['MZZONE']))
MZ

      MZZONE
0          1
1          4
2          5
3          3
4          2
...      ...
7098       6
7099       4
7100       3
7101       5
7102       3

[7103 rows x 1 columns]

In [146]:
all_df = [ml_df,sq,age,Dist,bed,bath,rooms,park,utility,street,MZ]

In [147]:
all_df

[      AREA
 0        1
 1        6
 2        2
 3        4
 4        1
 ...    ...
 7098     1
 7099     4
 7100     4
 7101     1
 7102     4

 [7103 rows x 1 columns],
       INT_SQFT
 0    -0.826573
 1     1.320099
 2    -1.034245
 3     1.033731
 4    -0.341276
 ...        ...
 7098 -1.714097
 7099  1.125543
 7100  0.506900
 7101 -1.300939
 7102  1.123357

 [7103 rows x 1 columns],
       BUILDING_AGE
 0         1.599627
 1        -1.076033
 2        -0.346308
 3        -0.184146
 4         0.464498
 ...            ...
 7098      2.005030
 7099     -1.238194
 7100      0.302337
 7101      0.626660
 7102      1.599627

 [7103 rows x 1 columns],
       DIST_MAINROAD
 0          0.547457
 1         -1.281965
 2         -0.515350
 3         -1.491042
 4         -0.271427
 ...             ...
 7098      -0.846389
 7099      -0.828965
 7100       0.913341
 7101      -1.038042
 7102       0.983033

 [7103 rows x 1 columns],
       N_BEDROOM
 0     -0.793720
 1      0.451651
 2     -0.793720
 3      1.697022
 4     -0.793720
 ...         ...
 7098  -0.793720
 7099   1.697022
 7100   0.451651
 7101  -0.793720
 7102   1.697022

 [7103 rows x 1 columns],
       N_BATHROOM
 0      -0.520689
 1      -0.520689
 2      -0.520689
 3       1.920533
 4      -0.520689
 ...          ...
 7098   -0.520689
 7099    1.920533
 7100   -0.520689
 7101   -0.520689
 7102    1.920533

 [7103 rows x 1 columns],
         N_ROOM
 0    -0.675731
 1     1.286540
 2    -0.675731
 3     1.286540
 4    -0.675731
 ...        ...
 7098 -1.656866
 7099  1.286540
 7100  0.305405
 7101 -1.656866
 7102  1.286540

 [7103 rows x 1 columns],
       PARK_FACIL_No  PARK_FACIL_Yes
 0               0.0             1.0
 1               1.0             0.0
 2               0.0             1.0
 3               1.0             0.0
 4               0.0             1.0
 ...             ...             ...
 7098            1.0             0.0
 7099            0.0             1.0
 7100            1.0             0.0
 7101            0.0             1.0
 7102            0.0             1.0

 [7103 rows x 2 columns],
       UTILITY_AVAIL_AllPub  UTILITY_AVAIL_ELO  UTILITY_AVAIL_NoSeWa  \
 0                      1.0                0.0                   0.0
 1                      1.0                0.0                   0.0
 2                      0.0                1.0                   0.0
 3                      0.0                0.0                   0.0
 4                      1.0                0.0                   0.0
 ...                    ...                ...                   ...
 7098                   0.0                1.0                   0.0
 7099                   0.0                0.0                   1.0
 7100                   0.0                0.0                   1.0
 7101                   0.0                1.0                   0.0
 7102                   0.0                1.0                   0.0

       UTILITY_AVAIL_NoSewr
 0                       0.0
 1                       0.0
 2                       0.0
 3                       1.0
 4                       0.0
 ...                     ...
 7098                    0.0
 7099                    0.0
 7100                    0.0
 7101                    0.0
 7102                    0.0

 [7103 rows x 4 columns],
       STREET_Gravel  STREET_No Access  STREET_Paved
 0               0.0               0.0           1.0
 1               1.0               0.0           0.0
 2               1.0               0.0           0.0
 3               0.0               0.0           1.0
 4               1.0               0.0           0.0
 ...             ...               ...           ...
 7098            0.0               1.0           0.0
 7099            0.0               1.0           0.0
 7100            1.0               0.0           0.0
 7101            0.0               0.0           1.0
 7102            0.0               0.0           1.0

 [7103 rows x 3 columns],
       MZZONE
 0          1
 1          4
 2          5
 3          3
 4          2
 ...      ...
 7098       6
 7099       4
 7100       3
 7101       5
 7102       3

 [7103 rows x 1 columns]]

In [148]:
pd.concat(all_df,axis=1)

,AREA,INT_SQFT,BUILDING_AGE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,PARK_FACIL_No,PARK_FACIL_Yes,UTILITY_AVAIL_AllPub,UTILITY_AVAIL_ELO,UTILITY_AVAIL_NoSeWa,UTILITY_AVAIL_NoSewr,STREET_Gravel,STREET_No Access,STREET_Paved,MZZONE
0,1,-0.826573,1.599627,0.547457,-0.793720,-0.520689,-0.675731,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1
1,6,1.320099,-1.076033,-1.281965,0.451651,-0.520689,1.286540,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,4
2,2,-1.034245,-0.346308,-0.515350,-0.793720,-0.520689,-0.675731,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,5
3,4,1.033731,-0.184146,-1.491042,1.697022,1.920533,1.286540,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,3
4,1,-0.341276,0.464498,-0.271427,-0.793720,-0.520689,-0.675731,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7098,1,-1.714097,2.005030,-0.846389,-0.793720,-0.520689,-1.656866,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,6
7099,4,1.125543,-1.238194,-0.828965,1.697022,1.920533,1.286540,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,4
7100,4,0.506900,0.302337,0.913341,0.451651,-0.520689,0.305405,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3
7101,1,-1.300939,0.626660,-1.038042,-0.793720,-0.520689,-1.656866,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,5
7102,4,1.123357,1.599627,0.983033,1.697022,1.920533,1.286540,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,3

In [149]:
df.columns

Index(['PRT_ID', 'AREA', 'INT_SQFT', 'DATE_SALE', 'DIST_MAINROAD', 'N_BEDROOM',
       'N_BATHROOM', 'N_ROOM', 'SALE_COND', 'PARK_FACIL', 'DATE_BUILD',
       'BUILDTYPE', 'UTILITY_AVAIL', 'STREET', 'MZZONE', 'QS_ROOMS',
       'QS_BATHROOM', 'QS_BEDROOM', 'QS_OVERALL', 'REG_FEE', 'COMMIS',
       'SALES_PRICE', 'SALE_YEAR', 'SALE_MONTH', 'SALE_MONTH_NAME', 'SALE_DAY',
       'SALE_DAY_OF_WEEK', 'SALE_DAY_NAME', 'SALE_QUARTER', 'BUILD_YEAR',
       'BUILD_MONTH', 'BUILD_MONTH_NAME', 'BUILD_DAY', 'BUILD_DAY_OF_WEEK',
       'BUILD_DAY_NAME', 'BUILD_QUARTER', 'BUILDING_AGE'],
      dtype='object')

In [150]:
df.STREET

0           Paved
1          Gravel
2          Gravel
3           Paved
4          Gravel
          ...
7104    No Access
7105    No Access
7106       Gravel
7107        Paved
7108        Paved
Name: STREET, Length: 7103, dtype: object